<footer>
  <div class="container">
    <hr class="orange-line">
    <div class="content">

    </div>
    <div class="row">
      <div class="site-logo"></div>
      <div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a href="" class="nav-link">Chính sách bảo mật</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Quy chế hoạt động</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Chính sách vận chuyển</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Chính sách trả hàng và hoàn tiền</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
