<div class="navbar">
  <div class="top-bar">
    <div class="left">
      <a href="https://banhang.shopee.vn/" target="_blank">Kênh Người Bán</a>
      <div class="download-container">
        <a class="downloadTitle" href="#">Tải ứng dụng</a>
        <div class="download-info">
          <img
            style="width: 150px; height: 140px; align-content: center"
            src="../../assets/qr.png"
            alt="qr"
          />
          <p style="margin-bottom: 0">
            Tải ứng dụng để trải nghiệm mua sắm tuyệt vời!
          </p>
          <img src="../../assets/appstore.png" alt="App Store" />
          <img src="../../assets/chplay.png" alt="Google Play" />
        </div>
      </div>
      <div class="connect">
        <a href="#">Kết nối</a>
        <a href="https://www.facebook.com/ShopeeVN">
          <img src="../../assets/facebook.256x256.png" alt="fb" />
        </a>
        <a href="https://www.instagram.com/Shopee_VN">
          <img src="../../assets/instagram-fill.256x256.png" alt="insta" />
        </a>
      </div>
    </div>
    <div class="right">
      <ul class="navbar-links">
        <li class="noti">
          <a href="#">
            <img
              style="height: 15px; width: 15px; margin-top:-3px;padding-right: 3px;"
              src="../../assets/notification.png"
              alt=""
            />Thông báo</a
          >
        </li>
        <li class="support"><a href="#">Hỗ trợ</a></li>
        <li class="language"><a href="#">Tiếng Việt</a></li>
        <li class="account">
          <a href=""><img src="" alt="" /> <span>ancool</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-header">
    <div class="logo">
      <img
        src="https://freelogopng.com/images/all_img/1656181621shopee-logo-white.png"
        alt="Shopee Logo"
      />
    </div>
    <div class="search-bar">
      <input type="text" placeholder="#ShopXuHuong VOUCHER 100.000Đ" />
      <button type="submit">Search</button>
    </div>
    <div class="icons">
      <i class="fa fa-bell"></i>
      <i class="fa fa-question-circle"></i>
      <i class="fa fa-globe"></i>
      <i class="fa fa-user"></i>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
  <nav>
    <a href="#">Váy Liền</a>
    <a href="#">Áo Ren</a>
    <a href="#">Ốp iPhone</a>
    <a href="#">Set Y2k</a>
    <a href="#">Áo Thể Thao</a>
    <a href="#">My Storee</a>
    <a href="#">Peripera Water Bare Tint</a>
    <a href="#">Quần Jean Ống Rộng</a>
    <a href="#">Đầm Trễ Vai</a>
    <a href="#">Set Couple</a>
  </nav>
</div>
